<h1>Edit your shelters profile</h1>

<%= form_for @shelter do |f| %>
<%= f.label :name %>
<%= f.text_field :name %><br>
<%= f.label :zip %>
<%= f.text_field :zip %><br>
<%= f.label :avatar ,"Profile Photo"%>
<%= f.file_field :avatar%><br>
<%= f.label :description %>
<%= f.text_area :description %><br>
<%= f.submit %>
<% end%>