<h1>Welcome to PetMatch</h1>
<h2>Create your account</h2>

<%= form_for @adopter do |f| %>
<%= f.label :name %>
<%= f.text_field :name, required: true %>
<br><br>
<%= f.label :description%>
<%= f.text_area :description, required: true %>
<br><br>
<%= f.label :zip %>
<%= f.text_field :zip, required: true %>
<br><br>
<%= f.label :avatar %>
<%= f.file_field :avatar %>
<br><br>
<%= f.label :password %>
<%= f.password_field :password, required: true %>
<br><br>
<%= f.submit "Sign Up"%>
<% end%>
<br><br>
<p>Already have an account?</p>
<%= link_to "<button>Log In</button>".html_safe, "/login" %>

