<head>
<title>PetMatch</title>
</head>

<div class="profile_pic">
    <%= image_tag @current_user.image_url || "https://mobilityoi.org/wp-content/uploads/2015/06/Avatar-No-Photo-generic-300x300.jpg" %><br>
    <%= content_tag :h2, @current_user.name.titleize %>
   <%= link_to 'edit profile', edit_adopter_path %>
</div>
<br><br><br>

<br><br><br>
<h3>My Favorite Pets</h3>
<div class="favorite_pets">
<% if @current_user.favorite_pets.length > 0 %>
    <% @current_user.favorite_pets.each do |pet| %>
        <div class="grid-item">
        <%= content_tag :h2, pet.name.titleize %>
        <%= image_tag pet.image_url, class: "img-responsive" %><br>
        <%= link_to "See More About Me!", pet_path(pet) %>
        </div>
    <% end %>
<% else %>
<p>You haven't added any pets to your favorites yet!</p>
<%= link_to "See All Pets", pets_path %>
<% end %>
</div>