<!DOCTYPE html>
<html>
  <head>
    <title>PetMatch</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <header class="menu">
  <div class="container">
    <nav>
    </nav>
    <nav class="right">
      <span class="item">
        <% if @current_user == nil %>
        <h3>I'm sorry, you must be logged in to use PetMatch</h3>
        <% else %>
          Welcome, <%= @current_user.name %>!
          <%= link_to "My Page", adopter_path(@current_user), class: "item" %>
          <%= link_to "See All Pets", pets_path, class: "item" %>
          <%= link_to "Logout", "/logout", method: :delete, class: "item" %>
        <% end %>
      </span>
    </nav>
  </div>
</header>
<div class="main">
  <div class="container">
    <%= yield %>
  </div>
</div>
  </body>
</html>
